*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
  
}

.App {
  background-image: url(https://assets.website-files.com/5b588875bbd7c19c9dace03c/5d9f69deb5f13649cd948f72_background-textures-4.svg);
  background-color: #000;
  height: 100vh;
  display:grid;
  place-items: center;
  color:#fff;
}




