/* Page Title */

h1{
    font-size:6rem;
    margin: -10vh 0;
    text-align: center;
}

/* Entire Question Block */
.card{
    min-height: 60%;
    min-width: 50vw;
    background:#1A1A1A ;
    border: 8px solid #fff;
    opacity: 0.8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

/* Card Title */

.card__question{
    padding: 20px;
    font-size:2rem;
}

/* Each Button */
.card__btn{
    min-width: 30vw;
    max-width: 350px;
    color:#fff;
    height: auto;
    background: none;
    border: 3px solid #fff;
    font-size:larger;
    outline: none;
    padding:5px;
    transition: all 0.5s;
    margin-bottom: 25px;
}
.card__btn:hover{
    background: #1ab2f5;
    
}

/* Card option Buttons */
.card__btn__option{
    background: #1ab2f5;
    outline: none;
    padding:5px;
    border: none;
    transition: all 0.3s;
    border: 2px solid #fff;
    margin: 10px;
    color:#fff;
}
.card__btn__option:hover{
    background: #1A1A1A;   
}